{% include 'base.html' %}
{% block content %}
<style>
    
</style>
<div class="card">
    <div class="card-header">
        <h1 class="text-center">MyApp</h1>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <div class="input-group mb-3">
                <div id="completed" class="input-group-text" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tâche réalisée">
                    {{edit_task_form.completed}}
                </div>
                    
            <div>
                    {{edit_task_form.title}}
                </div> 
                {{edit_task_form.description}}
                <button type="submit" class="btn btn-lg btn-info">Modifier</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}